.wraper{
   width: auto;
   height: 28px;
   background-color: rgb(70, 70, 209);
   padding-top: 5px;
}
.search-form{
   display: flex;
   justify-content: center;
}

.gallery{
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   gap: 10px
}

.info{
   display: flex;
   font-size: 14px;
   gap: 10px;
   border-radius: 3px;
   border-left: 1px solid grey;
   border-right: 1px solid grey;
   border-bottom: 2px solid grey;
}

.info-item{
   display: flex;
   flex-direction: column ;
   margin-left: 2px;
}

img{
   display: block;
}